  <h1>New Blog</h1>

  <form class="mb-3" action="/submit" method="POST">
    <!-- <div class="mb-3">
      <label for="formFile" class="form-label">Upload Image</label>
      <input name="image_upload" class="form-control" type="file" id="formFile" accept="image/png, image/jpeg">
    </div> -->
    <div class="mb-3">
      <label for="blogTitle" class="form-label">Blog Title</label>
      <input name="title" type="text" class="form-control" id="blogTitle"  placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="blogText" class="form-label">Blog Text</label>
      <textarea name="text" class="form-control" id="blogText" rows="3" placeholder="Start typeing here..."></textarea>
    </div>
    <input type="submit" value="SUBMIT" />
  </form>