<%- include("partials/header.ejs") %>

  <h1>New Blog</h1>

  <form class="mb-3" action="/submit" method="POST">
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload Image</label>
      <input name="image_upload" class="form-control" type="file" id="formFile" accept="image/png, image/jpeg">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
      <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Blog Text</label>
      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit" value="SUBMIT" />
  </form>

<%- include("partials/footer.ejs") %>